p
{
    transition-timing-function: ease-out;
}


.tile {
   
    
    
    width: 66px;
    height: 65px;
    display: inline-block;
    font-size: 48px;
    text-align: center;
    padding-top: 10px;
    margin: 5px;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}